[submodule "themes/amp-start-blog"]
	path = themes/amp-start-blog
	url = git@github.com:regonn/amp-start-blog-for-hugo.git
[submodule "public"]
	path = public
	url = git@github.com:regonn/regonn.github.io.git
